# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Temporary Files
*~
game_pbradsha
Makefile

#Qt Reproducable Files
*.pro
moc_mainwindow.cpp
moc*

#Doxygen Reproducable Files
config.txt
html/
latex/
